body {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;


}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.nav_title {
  display:flex; 
  justify-content: center;
  background-color: #f2f2f3;
}

.navbar {
  overflow: hidden;
  background-color: #ffffff;
  display:flex;
  align-items: center;
}

.navbar a {
  font-size: 25px;
  color: black;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

.dropdown {
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 25px;  
  border: none;
  outline: none;
  color: black;
  padding: 14px 40px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}



.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
 
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ffffff;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.center-items{
  display: flex;
  margin: auto;
}

a{
  color:white
}

td{
  font-size:25px;
}
ul{
  font-size:25px;
}
p{
  font-size:25px
}

