    tr:hover {background-color: #e0aa53;}
    
    table, td{
      border:1px solid #ebe5e5;
    } 

    h2{
      color:#e9e8e8;
      text-align: center;
    }

    tr{
      color:#e8e3e3;
      text-align: center;
    
    }

    table{
      style:widt:100%;
      text-aling: center
    }
